.main-content {
    width: 75%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .main-content .main-image {
    width: 20%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .text-content h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
  }
  
  .text-content h1 span {
    color: #d4af37;
  }
  
  .text-content p {
    font-size: 18px;
    margin-top: 20px;
  }
  
  .social-icons {
    margin-top: 20px;
  }
  
  .social-icons i {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
  }
  